/* Write your CSS here */

.not-found-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.not-found-dark {
  background-color: #000000;
}

.not-found-img {
  width: 350px;
}

.not-found-heading {
  color: #334155;
}

.not-found-note {
  color: #64748b;
}

.dark {
  color: #ffffff;
}
