/* Write your CSS here */

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home-dark {
  background-color: #000000;
}

.home-img {
  width: 200px;
}

.heading {
  font-size: 40px;
}

.dark {
  color: #ffffff;
}
